@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    padding: 0;
    margin: 0;
    font-family: --apple-system, Ubuntu, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@import "rsuite/dist/rsuite.css";


.carousel .control-dots .dot {
    background-color: blue;
}

/* fonts */
/* spectral */
@font-face {
    font-family: Spectral;
    font-weight: light;
    font-style: normal;
    src: url(../assets/Spectral/Spectral-Light.ttf);
}

@font-face {
    font-family: Spectral;
    font-weight: normal;
    font-style: normal;
    src: url(../assets/Spectral/Spectral-Regular.ttf);
}

@font-face {
    font-family: Spectral;
    font-weight: medium;
    font-style: normal;
    src: url(../assets/Spectral/Spectral-Medium.ttf);
}

@font-face {
    font-family: Spectral;
    font-weight: bold;
    font-style: normal;
    src: url(../assets/Spectral/Spectral-Bold.ttf);
}

@font-face {
    font-family: Spectral;
    font-weight: bolder;
    font-style: normal;
    src: url(../assets/Spectral/Spectral-SemiBold.ttf);
}

/* open sans */
@font-face {
    font-family: OpenSans;
    font-weight: light;
    font-style: normal;
    src: url(../assets/OpenSans/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSans;
    font-weight: normal;
    font-style: normal;
    src: url(../assets/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans;
    font-weight: medium;
    font-style: normal;
    src: url(../assets/OpenSans/OpenSans-Medium.ttf);
}

@font-face {
    font-family: OpenSans;
    font-weight: bold;
    font-style: normal;
    src: url(../assets/OpenSans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSans;
    font-weight: bolder;
    font-style: normal;
    src: url(../assets/OpenSans/OpenSans-SemiBold.ttf);
}

/* font classes */
.open-sans {
    font-family: OpenSans;

}

.spectral {
    font-family: Spectral;
}