@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: system-ui, -apple-system, sans-serif; */
}

@import "rsuite/dist/rsuite.css";


.carousel .control-dots .dot {
    background-color: blue;
}

/* fonts */
/* spectral
@font-face {
    font-family: Spectral;
    font-weight: light;
    font-style: normal;
    src: url(../assets/Spectral/Spectral-Light.ttf) format('tff');
}

@font-face {
    font-family: Spectral;
    font-weight: normal;
    font-style: normal;
    src: url(../assets/Spectral/Spectral-Regular.ttf) format('tff');
}

@font-face {
    font-family: Spectral;
    font-weight: medium;
    font-style: normal;
    src: url(../assets/Spectral/Spectral-Medium.ttf) format('tff');
}

@font-face {
    font-family: Spectral;
    font-weight: bold;
    font-style: normal;
    src: url(../assets/Spectral/Spectral-Bold.ttf) format('tff');
}

@font-face {
    font-family: Spectral;
    font-weight: bolder;
    font-style: normal;
    src: url(../assets/Spectral/Spectral-SemiBold.ttf) format('tff');
} */

/* open sans */
@font-face {
    font-family: OpenSans;
    font-weight: 200;
    font-style: normal;
    src: url(../assets/OpenSans/OpenSans-Light.ttf) format('tff');
}

@font-face {
    font-family: OpenSans;
    font-weight: 400;
    font-style: normal;
    src: url(../assets/OpenSans/OpenSans-Regular.ttf) format('tff');
}

@font-face {
    font-family: OpenSans;
    font-weight: 500;
    font-style: normal;
    src: url(../assets/OpenSans/OpenSans-Medium.ttf) format('tff');
    ;
}

@font-face {
    font-family: OpenSans;
    font-weight: 700;
    font-style: normal;
    src: url(../assets/OpenSans/OpenSans-Bold.ttf) format('tff');
}

@font-face {
    font-family: OpenSans;
    font-weight: 800;
    font-style: normal;
    src: url(../assets/OpenSans/OpenSans-SemiBold.ttf) format('tff');
}

/* font classes */
.open-sans {
    font-family: OpenSans;

}

/* menu overlay mobile screen */
.hidden{
    position:absolute;
    right:-100%;
    transition: right 750ms ease-in-out;
}
.unhidden{
    position:absolute;
    right:0;
    transition: right 750ms ease-in-out;
}


@layer components {
  .only-mobile {
    @apply lg:hidden;
  }
  .non-mobile {
    @apply hidden lg:block;
  }
}